# Modules Node.js
node_modules/

# Fichiers d'environnement
.env

# Logs
logs
*.log
npm-debug.log*

# Fichiers de système d'exploitation
.DS_Store
Thumbs.db

# Fichiers d'IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
